@charset "utf-8";

@media (max-width: 1366px) {

    html, body {
        margin: 0;
        height: 100%;
    }
    main {
        height: 100%;
        background-color: #DCDCDC;
    }
    #section_load_template {
        background-color: #DCDCDC;
    }
    #barra_nav {
        height: 60px;
        background-color: #337ab7;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        margin: 0.5%;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    #navbar-nav {
        margin-left: 20px;
    }
    #navbar-nav > li > a {
        color: white;
    }
    #navbar-nav > li > a:hover {
        background-color: #ccc;
        color: red;
        padding: 15px;
        margin-top: -2px;;
    } 
    #dropdown-menu > li > a:hover {
        background-color: #ccc;
        color: red;
    }
    #navbar-nav > li > a {
        padding: 15px;
        margin-top: -2px;
    }
    #navbar-nav > li > a, #navbar_deslogar  > li > a {
        color: white;
        padding: 15px;
        margin-top: -2px;
    }
    #navbar_saldo {
        color: white; 
        margin-top: 4px;
        font-size: 12px;
        width: 250px;
        margin-left: 180px;
    }
    .info_saldo {
        color: yellow;
    }

    .container-erro-404 {
        margin-top: 8%;
    }

    /*LOGIN PAGE*/

    .login-body {
        background-color: #DCDCDC;
    }

    .container-login {
        margin-left: 0;
    }	

    .form-login {
        max-width: 36%;
        height: 390px;
        margin: 7% auto 0;
        background: #fff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .form-login h2.form-login-heading {
        margin: 0;
        padding:20px 15px;
        text-align: center;
        background: #41cac0;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }

    .form-login .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-login .form-control:focus {
        z-index: 2;
    }
    .form-login input[type="text"], .form-login input[type="password"] {
        margin-bottom: 15px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #eaeaea;
        box-shadow: none;
        font-size: 12px;
    }

    .form-login .btn-login {
        background: #f67a6e;
        color: #fff;
        text-transform: uppercase;
        font-weight: 200;
        font-family: 'Open Sans', sans-serif;
        box-shadow: 0 4px #e56b60;
        margin-bottom: 15px;
        padding: 1.5%;
    }
    .form-login .btn-cadastro {
        background: #6767fe;
        color: #fff;
        text-transform: uppercase;
        font-weight: 200;
        font-family: 'Open Sans', sans-serif;
        box-shadow: 0 4px #4545fe;
        margin-bottom: 15px;
        padding: 2%;
    }

    .btn-cadastro {
        width: 700px;		
    }

    .form-login p {
        text-align: center;
        color: #b6b6b6;
        font-size: 16px;
        font-weight: 300;
    }

    .form-login a {
        color: #41cac0;
    }

    .form-login a:hover {
        color: #b6b6b6;
    }

    .login-wrap {
        padding: 20px;
    }

    #erro_login {
        margin-left: 23%;
        padding: 2%;
    }
    .erro_email, .erro_senha {
        color: red;
        font-size: 11px;
        margin-left: 10%;
    }

    /*CADASTRO DE USUÁRIO*/

    .container_cadastro_usuario {
        margin-left: 38%;
        margin-top: 10%;
    }
    #nomeCompleto, #email, #senha {
        width: 100%;
    }
    #form_cadastro_usuario {
        width: 40%;
    }
    #panel_heading_cadastro {
        background-color: #3935ce;
        color: white;
    }
    .erro_nome_completo, .erro_senha_cadastro, .erro_email_cadastro{
        color: red;
        font-size: 11px;
    }
    #panel_cadastro {
        width: 100%;
        border: solid 0 white;
    }
    #msg_sucesso {
        margin-left: 14%;
        padding: 2%;
    }
    .div_erro {
        padding: 0;
    }

    .erro_conta {
        font-size: 14px;
        margin-left: 5%;
    }

    .body_home {
        margin-top: 8%;
    }


    /*CADASTRO DE CONTA*/
    .body_cadastro_conta {
        margin-top: 9%;
        left: 10%;
    }
    #form_cadastro_conta {
        width: 60%;
        margin-left: 20%;
    }
    .div_cad_conta_esq {
        width: 48%;
        float: left
    }
    .div_cad_conta_dir {
        width: 48%;
        float: left;
        margin-left: 3.7%;
    }	
    .div_button {
        clear: both;
    }
    .erro_banco, .erro_cod_agencia, .erro_dig_verificador, .erro_tipo_conta, .erro_num_conta {
        color: red;
        font-size: 11px;
    }
    #msg_conta_cadastrada {
        margin-left: 5%;
        padding: 1.6%;
    }
    #msg_sucesso_conta {
        margin-left: 40%;
        padding: 1.6%;
    }


    /*PÁGINA HOME*/
    .tipo_conta_home, .ag_conta_home {
        font-weight: bold;
    }
    .num_conta_home, .nome_banco_home {
        font-weight: bold;
        color: #0531fe;
    }
    .div_button_home {
        margin-left: 1.5%;
        left: 1.5%;
    }
    #panel_home {
        width: 70%;
        border: solid 0 white;
        height: 200px;
        margin-left: 16%;
        margin-top: 2%;
    }
    #td_sem_contas_agendadas {
        text-align: center;
        font-weight: bold;
    }


    /*PÁGINA HOME CONTA*/
    .body_home_conta {
        margin-top: auto;
    }
    .panel_home_conta {
        margin-left: auto;
        margin-top: 8%;
    }
    .bordasimples {
        border-style: solid;
        border-color: white;
        border-width: 1px;
        border-collapse: collapse;
    }
    tfoot {
        background-color: rgb(255,204,0);
        font-weight: bold;
    }
    #cab_table {
        color: white;
        text-align: center;
        background-color: red;
        font-weight: bold;
        letter-spacing: 2px;
    }
    #tr_cab_table {
        background-color: #0000FF;
        font-weight: bold;
        color: white;
    }
    #table_desp_agendada > tbody > tr > td {
        background-color: rgb(204,255,255);
    }
    .td_color_pgto {
        color: red;
    }
    .td_color_pgto_sim {
        color: blue;
    }
    .sec_btn_group {
        width: 45%;
        float: left;
    }
    .div_msg_alert_pgto_agendado {
        margin-top: 32%;
    }
    .href_btn_home {
        color: white;
    }
    .sec_desp_agendada {
        width: 50%;  
        float: right;
    }
    #btn_extrato {
        height: 80px;
        border-radius: 10px 0 0 10px;
        width: 115px;
    }
    #btn_extrato_1 {
        height: 80px;
        border-radius: 0 10px 10px 0;
    }
    #btn_agendamento {
        height: 80px;
        border-radius: 10px 0 0 10px;
        width: 115px;
    }
    #btn_agendamento_1 {
        height: 80px;
        border-radius: 0 10px 10px 0;
    }

    /*PÁGINA EXTRATO ATUAL*/
    .body_extrato {
        margin-top: 8%;
    }
    #extrato_erro {
        margin-left: 25%;
    }
    #table_extrato {
        width: 80%;
    }
    #table_extrato_atual > tbody > tr > td {
        padding: 3px;
    }
    #div_extrato {
        margin-left: 16%;
    }
    .td_extrato_cre {
        color: #0902fd;
        font-weight: bold;
    }
    .td_extrato_deb {
        color: red;
        font-weight: bold;
    }
    .td_extrato_deb_saldo, .td_extrato_deb_data {
        color: #837d7c;
        font-weight: bold;
    }
    .td_extrato_deb_data {
        color: #837d7c;
        font-weight: bold;
        text-align: center;
    }
    .td_extrato_deb_fixa {
        color: red;
    }
    .data_mov_cab, .valor_mov_cab, .saldo_mov_cab {
        text-align: center;
    }

    /*PÁGINA DÉBITO*/
    .body_debito {
        margin-top: 8%;
    }
    .both {
        clear: both;
    }
    #div_row_form_agendar_pagamento {
        margin-top: 8%;    
        margin-left: 25%;
    }
    #div_row_form_debitar {
        margin-top: auto;    
        margin-left: auto
    }
    #div_panel_form_debitar {
        width: 50%;
        height: 320px;
        margin-left: 25%
    }
    #div_data_debito {
        float: left;
    }
    #div_mov_debito {
        float: left;
        margin-left: 24%;
    }
    
    #div_mov_pgto {
        float: left;
        margin-left: 24%;
    }
    #data_pgto {
        width: 170%;
    }    
    #data_debito {
        width: 170%;
    }    
    #mov_pgto {
        width: 180%;
    }
    #movimentacao {
        width: 190%;
    }
    #valor_pgto {
        width: 180%;
    }
    #categoria_pgto {
        width: 171%;
    }
    #nome_categoria {
        width: 171%;
    }
    #div_data_pgto {
        float: left;
    }
    #div_valor_pgto {
        float: left;
        margin-left: 24%;
    }
    #div_valor_debito {
        float: left;
        margin-left: 24%;
    }
    #div_btn_agendar {
        float: left;
    }
    #div_msgs_error {
        margin-left: 23%;
        float: left;
    }
    #div_msgs_error_debito {
        margin-left: 24%;
        float: left;
    }
    .msgError {
        color: red;
        font-weight: bold;
        font-size: 11px;
        padding: 0;
    }
    #msgCadPgtoSucesso {
        padding: 7px;
        text-align: center;
        font-weight: bold;
    }
    #msgDebitadoSucesso {
        padding: 7px;
        text-align: center;
        font-weight: bold;
    }
    #btn_novo_agendamento {
        width: 75px;
    }
    #btn_novo_debito, #btn_salvar_debito, #btn_pagar_debito {
        width: 75px;
    }
    #div_cat_pgto {
        float: left;    
    }
    #div_cat_debito {
        float: left;    
    }
    #div_panel_form_agendar_pagamento {
        width: 65%;
        height: 300px;
    }
    .erro_debito, .erro_movimentacao, .erro_nome_categoria {
        color: red;
        font-size: 11px;
        margin-left: 10%;
    }
    .erro_valor {
        color: red;
        font-size: 11px;
        margin-left: 24%;	
    }
    .div_button_debito {
        float: left;
    }
    #msg_sucesso_deb {
        padding: 3%;
        margin-left: 1%;
    }
    
    /*PÁGINA CARTÃO DE CRÉDITO*/
    #div_panel_form_cad_carta_credito {
        width: 70%;
        height: 300px;
    }
    #div_row_form_cad_carta_credito {
        margin-top: 8%;    
        margin-left: 22%;
    }
    #div_num_cartao {
        float: left;
    }
    #div_data_validade {
        float: left;
    }
    #btn_novo_cartao_credito, #btn_salvar_cartao_credito {
        width: 70px;
        text-align: center;
    }
    #msgCadastroCartaoSucesso {
        padding: 7.5px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
    }
    #div_msgs_error_cart_cred {
        margin-left: 50%;
        margin-top: -45px;
        float: left;
    }
    #div_botoes_cart_cred {
        float: left;
    }
    
    /*PÁGINA CRÉDITO*/
    .body_debito {
        margin-top: 8%;
    }
    #div_row_form_creditar {
        margin-left: auto;
        margin-right: auto;
    }
    #div_panel_form_creditar {
        width: 40%;
        height: 320px;
        margin-left: 29%
    }
    #btn_novo_credito, #btn_salvar_credito {
        width: 80px;
    }
    #msgCreditadoSucesso {
        padding: 7px;
        text-align: center;
        font-weight: bold;
    }
    #div_msgs_error_credito {
        float: left;
        margin-left: 13.5%;
        margin-top: 1.5%;
    }
    .div_button_credito {
        float: left;
    }

    .erro_credito, .erro_movimentacao, .erro_nome_categoria {
        color: red;
        font-size: 11px;
        margin-left: 10%;
    }
    .erro_valor {
        color: red;
        font-size: 11px;
        margin-left: 24.7%;	
    }
    .div_button_debito {
        float: left;
    }
    #msg_sucesso_deb {
        padding: 3%;
        margin-left: 1%;
    }

    /*PÁGINA EXTRATO PERÍODO*/
    #div_row_form_extrato_periodo {
        margin-top: 8%;
    }
    #panel_extrato_periodo {
        width: 100%;
        border: solid 0 white;
        width: 50%;
        margin-left: 25%;
    }
    .btn_extrato {
        margin-left: 12%;
        float: left;
        margin-top: 0.5%;
    }
    .erro_data_inicial {
        color: red;
        font-size: 11px;
        margin-left: 20%;		
    }
    .erro_data_final {
        color: red;
        font-size: 11px;
        margin-left: 20%;
    }
    .div_erro_extrato {
        float: left;
        width: 240px;
        margin-left: 29%;
    }
    
    /*PÁGINA RELATÓRIO MOVIMENTAÇÃO*/
    .body_relatorio_movimentacao {
        margin-top: 7%;
    }
    .div_data_inicial_relatorio {
        float: left;
    }
    .div_data_inicial_relatorio_erro {
        float: left;
        margin-left: 28%;
        margin-top: 6%;
    }
    #msg_data_inicial_relatorio_erro {
        padding: 6px;
    }
    .div_data_final_relatorio {
        clear: both;
        float: left;
    }
    .div_data_final_relatorio_erro {
        float: left;
        margin-left: 30%;
        margin-top: 6%;
    }
    #msg_data_final_relatorio_erro, #msg_movimentacao_relatorio_erro {
        padding: 6px;
    }
    .div_movimentacao_relatorio {
        clear: both;
        float: left; 
    }
    #movimentacao_relatorio {
        width: 250px;
    }
    .div_movimentacao_relatorio_erro {
        float: left;
        margin-left: 5%;
        margin-top: 6%;  
    }
    .div_button_relatorio_movimentacao {
        clear: both;
    }
    
    /*PÁGINA RELATÓRIO GERAL*/
    .body_rel_geral {
        margin-top: 7%;
    }  
    #div_row_form_rel_geral {
        margin-left: 28%;
    }
    #panel_form_rel_geral {
        border: solid 0 white;
    }
    #panel_heading_form_rel_geral {
        background-color: #3935ce;
        color: white;
    }
    #div_btn_form_rel_geral {
        float: left;
    }
    #div_msg_error_rel_geral {
        margin-left: 30%;
        padding: 5px;
    }
    .msg_error_sem_ajax {
        color: red;
        font-weight: bold;
        font-size: 12px;
    }
    #btn_voltar_rel_geral {
        float: right;
        margin-right: 2.2%;
    }
    #msg_ret_sem_pgto {
        font-weight: bold;
        background-color: #FFDEAD;
    }
    #msg_ret_com_pgto {
        font-weight: bold;
        background-color: #98FB98;
    }
    .div_coint {
        margin-top: 5%;
        background-color: #ccc;
        height: 585px;
    }  
    #div_cab_rel_geral {
        background-color: blue;
    }
    #seg_div_rel_geral {
        margin-top: 1%;
    }
    #div_cab_rel_geral {
        color: white;
        text-align: center;
        padding: 1px;
        font-weight: bold;
    }
    #table_rel_geral {
        background-color: white;
    }
    #table_rel_geral > tbody > tr > td {
        padding: 0;
        text-align: center;
        font-size: 12px;
    }
    #table_rel_geral > thead > tr > th {
        padding: 2px;
        text-align: center;
    }
    #table_rel_geral > tfoot > tr > td {
        padding: 0;
        font-size: 12px;
        text-align: center;
    }
    
    /*PÁGINA RELATÓRIO GERAL CATEGORIA*/
    .div_coint_rel_geral_cat {
        margin-top: 6%;
        background-color: #D2B48C;
    }
    #table_rel_geral_categoria {
        background-color: white;
    }
    #table_rel_geral_categoria > tbody > tr > td {
        padding: 0;
        text-align: center;
        font-size: 11px;
    }
    #table_rel_geral_categoria > thead > tr > th {
        padding: 2px;
        text-align: center;
    }
    #table_rel_geral_categoria > tfoot > tr > td {
        padding: 0;
        font-size: 12px;
        text-align: center;
    }
    
    /*PÁGINA AGENDAMENTO DE PAGAMENTOS*/
    #div_panel_agendamento_pgto {
        margin-top: 6%;
    }
    #div_panel_body {
        height: 500px;
    }
    #panel_head_agendamento_pagamento {
        background-color: #6767fe;
        color: white;
        text-align: center;
        font-size: 16px;
    }
    .centralizar_td {
        text-align: center;
    }
    #tabela_index_agendamento_pagamento > thead > tr > th {
        text-align: center;
         background-color: darkkhaki;
    }
    #tabela_index_agendamento_pagamento > tbody > tr > td {
        padding: 3px;
        font-size: 13px;
    }
    .cor_verde {
        color: lime;
    }
    .cor_vermelho {
        color: red;
    }
    .disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }
    .pagination {
        margin-top: -10%;

    }
    .pag_item {
        width:20px;
        height:20px;
        float:left;
        border:1px solid #000;
        margin-right: 3px;
        text-align: center;
        line-height: 20px;
    }
    .pag_item a {
        color:#000;
        text-decoration: none;
    }
    .pag_ativo {
        background-color:#224074;
    }
    .pag_ativo a {
        color:#FFF;
    }
    #nav_pagination {
        margin-left: 44%;
    }
    #div_nav_pagination {
        margin-top: -1%;
        position: static;
    }
    
    /*PÁGINA FATURA DE CARTÃO DE CRÉDITO*/
    #div_panel_form_cad_fatura_carta_credito {
        height: 300px;
    }
    #div_panel_form_deb_fatura_carta_credito {
        height: 380px;
    }
    #div_row_form_cad_fatura_cartao_credito {
        margin-top: 8%;    
        margin-left: 29%;
    }
    #div_row_form_deb_fatura_cartao_credito {
        margin-top: 8%;    
        margin-left: 25%;
    }
    #div_row_form_fecha_fatura_cartao_credito {
        margin-top: 7%;    
        margin-left: 10%;
        width: 90%;
    }
    #div_panel_fecha_fatura_cartao {
        width: 70%;
        margin-left: 9%;
    }
    #msg_sem_fatura {
        background-color: #FFDAB9;
        padding: 9px;
        text-align: center;
        font-weight: bold;
        color: red;
    }
    #btn_nova_fatura, #btn_salvar_nova_fatura, #btn_debitar_fatura, #btn_nova_lanc_fatura, #btn_salvar_novo_lanc_fatura {
        width: 70px;
    }
    #msgCadastroFaturaSucesso {
        padding: 7px;
        text-align: center;
        font-weight: bold;
    }
    #div_msgs_error_cad_fatura {
        margin-left: 47%;
        margin-top: -42px;
        float: left;
    }
    #div_msgs_error_lan_fatura {
        margin-left: 42%;
        margin-top: -42px;
        float: left;
    }
    #msg_erro_fatura {
        margin-left: 10%;
    }
    #msg_erro_lanc_fatura {
        margin-left: 0;
    }
    #msgLancamentoFaturaSucesso {
        padding: 7px;
        text-align: center;
        font-weight: bold;
    }
    #table_lista_itens_fatura > tbody > tr > td {
        font-size: 12px;
        padding: 3px;
    }
    .alinha_td_centro, .alinha_th_centro {
        text-align: center;
    }
    #div_row_table_fecha_fatura {
        width: 96.2%;
    }
    #table_lista_itens_fatura {
        margin-left: 1.9%;
    }
    #msg_alerta_sem_despesa_fatura {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        width: 104%;
    }
    #num_cartao, #nome_banco, #nome_bandeira, #dt_vencimento, #encargos, #iof, #anuidade, #protecao_prem, #valor_pagar, #juros, #restante, #valor_total {
        font-size: 12px;
        height: 27px;
    }
    .muda_label {
        font-size: 12px;
    }
    #table_lista_itens_fatura > tfoot > tr > td {
        padding: 2px;
    }
    #div_botoes_fecha_fatura {
        margin-left: 0;
        float: left;
    }
    #erroIdFatura {
        color: red;
        font-weight: bold;
        font-size: 11px;
        padding: 0;
    }
    #btn_novo_pgto_fatura, #btn_calcular_fatura, #btn_pagar_fatura {
        width: 80px;
    }
    #div_msg_error_pagar_fatura {
        margin-left: 10%;
        float: left;
        margin-top: 0.5%;
    }    
    #msgPagamentoFaturaSucesso {
        padding: 8px;
        text-align: center;
        font-weight: bold;
    }
    
    
    /*CONSULTAR FATURAS*/
    #aside_consultar_fatura {
        margin-top: 8%;
    }
    #div_row_consultar_fatura {
        margin-left: 24%;
    }
    .div_button_form {
        float: left;
    }
    #div_msg_error_buscar_fatura {
        margin-left: 30%;
        padding: 5px;
    }
}		

@media (min-width: 1440px) {

    html, body {
        margin: 0;
        height: 100%;
    }
    main {
        height: 100%;
        background-color: #DCDCDC;
    }
    #section_load_template {
        background-color: #DCDCDC;
    }
    #barra_nav {
        height: 60px;
        background-color: #337ab7;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        margin: 0.5%;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    #navbar-nav {
        margin-left: 20px;
    }
    #navbar-nav > li > a {
        color: white;
    }
    #navbar-nav > li > a:hover {
        background-color: #ccc;
        color: red;
        padding: 15px;
        margin-top: -2px;;
    } 
    #dropdown-menu > li > a:hover {
        background-color: #ccc;
        color: red;
    }
    #navbar-nav > li > a {
        padding: 15px;
        margin-top: -2px;
    }
    #navbar-nav > li > a, #navbar_deslogar  > li > a {
        color: white;
        padding: 15px;
        margin-top: -2px;
    }
    #navbar_saldo {
        color: white; 
        margin-top: 4px;
        font-size: 12px;
        width: 250px;
        margin-left: 180px;
    }
    .info_saldo {
        color: yellow;
    }

    .container-erro-404 {
        margin-top: 8%;
    }

    /*LOGIN PAGE*/

    .login-body {
        background-color: #DCDCDC;
    }

    .container-login {
        margin-left: 0;
    }	

    .form-login {
        max-width: 36%;
        height: 390px;
        margin: 7% auto 0;
        background: #fff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .form-login h2.form-login-heading {
        margin: 0;
        padding:20px 15px;
        text-align: center;
        background: #41cac0;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }

    .form-login .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-login .form-control:focus {
        z-index: 2;
    }
    .form-login input[type="text"], .form-login input[type="password"] {
        margin-bottom: 15px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #eaeaea;
        box-shadow: none;
        font-size: 12px;
    }

    .form-login .btn-login {
        background: #f67a6e;
        color: #fff;
        text-transform: uppercase;
        font-weight: 200;
        font-family: 'Open Sans', sans-serif;
        box-shadow: 0 4px #e56b60;
        margin-bottom: 15px;
        padding: 1.5%;
    }
    .form-login .btn-cadastro {
        background: #6767fe;
        color: #fff;
        text-transform: uppercase;
        font-weight: 200;
        font-family: 'Open Sans', sans-serif;
        box-shadow: 0 4px #4545fe;
        margin-bottom: 15px;
        padding: 2%;
    }

    .btn-cadastro {
        width: 700px;		
    }

    .form-login p {
        text-align: center;
        color: #b6b6b6;
        font-size: 16px;
        font-weight: 300;
    }

    .form-login a {
        color: #41cac0;
    }

    .form-login a:hover {
        color: #b6b6b6;
    }

    .login-wrap {
        padding: 20px;
    }

    #erro_login {
        margin-left: 23%;
        padding: 2%;
    }
    .erro_email, .erro_senha {
        color: red;
        font-size: 11px;
        margin-left: 10%;
    }

    /*CADASTRO DE USUÁRIO*/

    .container_cadastro_usuario {
        margin-left: 38%;
        margin-top: 10%;
    }
    #nomeCompleto, #email, #senha {
        width: 100%;
    }
    #form_cadastro_usuario {
        width: 40%;
    }
    #panel_heading_cadastro {
        background-color: #3935ce;
        color: white;
    }
    .erro_nome_completo, .erro_senha_cadastro, .erro_email_cadastro{
        color: red;
        font-size: 11px;
    }
    #panel_cadastro {
        width: 100%;
        border: solid 0 white;
    }
    #msg_sucesso {
        margin-left: 14%;
        padding: 2%;
    }
    .div_erro {
        padding: 0;
    }

    .erro_conta {
        font-size: 14px;
        margin-left: 5%;
    }

    .body_home {
        margin-top: 8%;
    }


    /*CADASTRO DE CONTA*/
    .body_cadastro_conta {
        margin-top: 9%;
        left: 10%;
    }
    #form_cadastro_conta {
        width: 60%;
        margin-left: 20%;
    }
    .div_cad_conta_esq {
        width: 48%;
        float: left
    }
    .div_cad_conta_dir {
        width: 48%;
        float: left;
        margin-left: 3.7%;
    }	
    .div_button {
        clear: both;
    }
    .erro_banco, .erro_cod_agencia, .erro_dig_verificador, .erro_tipo_conta, .erro_num_conta {
        color: red;
        font-size: 11px;
    }
    #msg_conta_cadastrada {
        margin-left: 5%;
        padding: 1.6%;
    }
    #msg_sucesso_conta {
        margin-left: 40%;
        padding: 1.6%;
    }


    /*PÁGINA HOME*/
    .tipo_conta_home, .ag_conta_home {
        font-weight: bold;
    }
    .num_conta_home, .nome_banco_home {
        font-weight: bold;
        color: #0531fe;
    }
    .div_button_home {
        margin-left: 1.5%;
        left: 1.5%;
    }
    #panel_home {
        width: 70%;
        border: solid 0 white;
        height: 200px;
        margin-left: 16%;
        margin-top: 2%;
    }
    #td_sem_contas_agendadas {
        text-align: center;
        font-weight: bold;
    }


    /*PÁGINA HOME CONTA*/
    .body_home_conta {
        margin-top: auto;
    }
    .panel_home_conta {
        margin-left: auto;
        margin-top: 8%;
    }
    .bordasimples {
        border-style: solid;
        border-color: white;
        border-width: 1px;
        border-collapse: collapse;
    }
    tfoot {
        background-color: rgb(255,204,0);
        font-weight: bold;
    }
    #cab_table {
        color: white;
        text-align: center;
        background-color: red;
        font-weight: bold;
        letter-spacing: 2px;
    }
    #tr_cab_table {
        background-color: #0000FF;
        font-weight: bold;
        color: white;
    }
    #table_desp_agendada > tbody > tr > td {
        background-color: rgb(204,255,255);
    }
    .td_color_pgto {
        color: red;
    }
    .td_color_pgto_sim {
        color: blue;
    }
    .sec_btn_group {
        width: 45%;
        float: left;
    }
    .div_msg_alert_pgto_agendado {
        margin-top: 27.5%;
    }
    .href_btn_home {
        color: white;
    }
    .sec_desp_agendada {
        width: 50%;  
        float: right;
    }
    #btn_extrato {
        height: 80px;
        border-radius: 10px 0 0 10px;
        width: 115px;
    }
    #btn_extrato_1 {
        height: 80px;
        border-radius: 0 10px 10px 0;
    }
    #btn_agendamento {
        height: 80px;
        border-radius: 10px 0 0 10px;
        width: 115px;
    }
    #btn_agendamento_1 {
        height: 80px;
        border-radius: 0 10px 10px 0;
    }

    /*PÁGINA EXTRATO ATUAL*/
    .body_extrato {
        margin-top: 8%;
    }
    #extrato_erro {
        margin-left: 25%;
    }
    #table_extrato {
        width: 80%;
    }
    #table_extrato_atual > tbody > tr > td {
        padding: 3px;
    }
    #div_extrato {
        margin-left: 16%;
    }
    .td_extrato_cre {
        color: #0902fd;
        font-weight: bold;
    }
    .td_extrato_deb {
        color: red;
        font-weight: bold;
    }
    .td_extrato_deb_saldo, .td_extrato_deb_data {
        color: #837d7c;
        font-weight: bold;
    }
    .td_extrato_deb_data {
        color: #837d7c;
        font-weight: bold;
        text-align: center;
    }
    .td_extrato_deb_fixa {
        color: red;
    }
    .data_mov_cab, .valor_mov_cab, .saldo_mov_cab {
        text-align: center;
    }

    /*PÁGINA DÉBITO*/
    .body_debito {
        margin-top: 8%;
    }
    .both {
        clear: both;
    }
    #div_row_form_agendar_pagamento {
        margin-top: 8%;    
        margin-left: 25%;
    }
    #div_row_form_debitar {
        margin-top: auto;    
        margin-left: auto
    }
    #div_panel_form_debitar {
        width: 50%;
        height: 320px;
        margin-left: 25%
    }
    #div_data_debito {
        float: left;
    }
    #div_mov_debito {
        float: left;
        margin-left: 24%;
    }
    
    #div_mov_pgto {
        float: left;
        margin-left: 24%;
    }
    #data_pgto {
        width: 170%;
    }    
    #data_debito {
        width: 170%;
    }    
    #mov_pgto {
        width: 180%;
    }
    #movimentacao {
        width: 205%;
    }
    #valor_pgto {
        width: 180%;
    }
    #categoria_pgto {
        width: 171%;
    }
    #nome_categoria {
        width: 171%;
    }
    #div_data_pgto {
        float: left;
    }
    #div_valor_pgto {
        float: left;
        margin-left: 24%;
    }
    #div_valor_debito {
        float: left;
        margin-left: 24%;
    }
    #div_btn_agendar {
        float: left;
    }
    #div_msgs_error {
        margin-left: 23%;
        float: left;
    }
    #div_msgs_error_debito {
        margin-left: 24%;
        float: left;
    }
    .msgError {
        color: red;
        font-weight: bold;
        font-size: 11px;
        padding: 0;
    }
    #msgCadPgtoSucesso {
        padding: 7px;
        text-align: center;
        font-weight: bold;
    }
    #msgDebitadoSucesso {
        padding: 7px;
        text-align: center;
        font-weight: bold;
    }
    #btn_novo_agendamento {
        width: 75px;
    }
    #btn_novo_debito, #btn_salvar_debito {
        width: 75px;
    }
    #div_cat_pgto {
        float: left;    
    }
    #div_cat_debito {
        float: left;    
    }
    #div_panel_form_agendar_pagamento {
        width: 65%;
        height: 300px;
    }
    .erro_debito, .erro_movimentacao, .erro_nome_categoria {
        color: red;
        font-size: 11px;
        margin-left: 10%;
    }
    .erro_valor {
        color: red;
        font-size: 11px;
        margin-left: 24%;	
    }
    .div_button_debito {
        float: left;
    }
    #msg_sucesso_deb {
        padding: 3%;
        margin-left: 1%;
    }
    
    /*PÁGINA CARTÃO DE CRÉDITO*/
    #div_panel_form_cad_carta_credito {
        width: 70%;
        height: 300px;
    }
    #div_row_form_cad_carta_credito {
        margin-top: 8%;    
        margin-left: 22%;
    }
    #div_num_cartao {
        float: left;
    }
    #div_data_validade {
        float: left;
    }
    #btn_novo_cartao_credito, #btn_salvar_cartao_credito {
        width: 70px;
        text-align: center;
    }
    #msgCadastroCartaoSucesso {
        padding: 7.5px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
    }
    #div_msgs_error_cart_cred {
        margin-left: 50%;
        margin-top: -45px;
        float: left;
    }
    #div_botoes_cart_cred {
        float: left;
    }
    
    /*PÁGINA CRÉDITO*/
    .body_debito {
        margin-top: 8%;
    }
    #div_row_form_creditar {
        margin-left: auto;
        margin-right: auto;
    }
    #div_panel_form_creditar {
        width: 40%;
        height: 320px;
        margin-left: 29%
    }
    #btn_novo_credito, #btn_salvar_credito {
        width: 80px;
    }
    #msgCreditadoSucesso {
        padding: 7px;
        text-align: center;
        font-weight: bold;
    }
    #div_msgs_error_credito {
        float: left;
        margin-left: 13.5%;
        margin-top: 1.5%;
    }
    .div_button_credito {
        float: left;
    }

    .erro_credito, .erro_movimentacao, .erro_nome_categoria {
        color: red;
        font-size: 11px;
        margin-left: 10%;
    }
    .erro_valor {
        color: red;
        font-size: 11px;
        margin-left: 24.7%;	
    }
    .div_button_debito {
        float: left;
    }
    #msg_sucesso_deb {
        padding: 3%;
        margin-left: 1%;
    }

    /*PÁGINA EXTRATO PERÍODO*/
    .body_extrato_periodo {
        margin-top: 9%;
    }
    #panel_extrato_periodo {
        width: 100%;
        border: solid 0 white;
        width: 50%;
        margin-left: 25%;
        height: 230px;
    }
    .div_data_final {
        float: left;
        margin-left: 28%;
    }
    .div_data_inicial {
        float: left;
        margin-left: 10%;
    }
    .btn_extrato {
        margin-left: 12%;
        float: left;
        margin-top: 0.5%;
    }
    .erro_data_inicial {
        color: red;
        font-size: 11px;
        margin-left: 20%;		
    }
    .erro_data_final {
        color: red;
        font-size: 11px;
        margin-left: 20%;
    }
    .div_erro_extrato {
        float: left;
        width: 240px;
        margin-left: 29%;
    }
    
    /*PÁGINA RELATÓRIO MOVIMENTAÇÃO*/
    .body_relatorio_movimentacao {
        margin-top: 7%;
    }
    .div_data_inicial_relatorio {
        float: left;
    }
    .div_data_inicial_relatorio_erro {
        float: left;
        margin-left: 28%;
        margin-top: 6%;
    }
    #msg_data_inicial_relatorio_erro {
        padding: 6px;
    }
    .div_data_final_relatorio {
        clear: both;
        float: left;
    }
    .div_data_final_relatorio_erro {
        float: left;
        margin-left: 30%;
        margin-top: 6%;
    }
    #msg_data_final_relatorio_erro, #msg_movimentacao_relatorio_erro {
        padding: 6px;
    }
    .div_movimentacao_relatorio {
        clear: both;
        float: left; 
    }
    #movimentacao_relatorio {
        width: 250px;
    }
    .div_movimentacao_relatorio_erro {
        float: left;
        margin-left: 5%;
        margin-top: 6%;  
    }
    .div_button_relatorio_movimentacao {
        clear: both;
    }
    
    /*PÁGINA RELATÓRIO GERAL*/
    .div_coint_form {
        margin-top: 7%;
    }  
    #row_panel_form_rel_geral {
        margin-left: 25%;
    }
    #panel_form_rel_geral {
        border: solid 0 white;
    }
    #panel_heading_form_rel_geral {
        background-color: #3935ce;
        color: white;
    }
    .div_coint {
        margin-top: 5%;
        background-color: #ccc;
        height: 585px;
    }  
    #div_cab_rel_geral {
        background-color: blue;
    }
    #seg_div_rel_geral {
        margin-top: 1%;
    }
    #div_cab_rel_geral {
        color: white;
        text-align: center;
        padding: 1px;
        font-weight: bold;
    }
    #table_rel_geral {
        background-color: white;
    }
    #table_rel_geral > tbody > tr > td {
        padding: 0;
        text-align: center;
        font-size: 12px;
    }
    #table_rel_geral > thead > tr > th {
        padding: 2px;
        text-align: center;
    }
    #table_rel_geral > tfoot > tr > td {
        padding: 0;
        font-size: 12px;
        text-align: center;
    }
    
    /*PÁGINA RELATÓRIO GERAL CATEGORIA*/
    .div_coint_rel_geral_cat {
        margin-top: 6%;
        background-color: #D2B48C;
    }
    #table_rel_geral_categoria {
        background-color: white;
    }
    #table_rel_geral_categoria > tbody > tr > td {
        padding: 0;
        text-align: center;
        font-size: 11px;
    }
    #table_rel_geral_categoria > thead > tr > th {
        padding: 2px;
        text-align: center;
    }
    #table_rel_geral_categoria > tfoot > tr > td {
        padding: 0;
        font-size: 12px;
        text-align: center;
    }
    
    /*PÁGINA AGENDAMENTO DE PAGAMENTOS*/
    #div_panel_agendamento_pgto {
        margin-top: 6%;
    }
    #div_panel_body {
        height: 500px;
    }
    #panel_head_agendamento_pagamento {
        background-color: #6767fe;
        color: white;
        text-align: center;
        font-size: 16px;
    }
    .centralizar_td {
        text-align: center;
    }
    #tabela_index_agendamento_pagamento > thead > tr > th {
        text-align: center;
         background-color: darkkhaki;
    }
    #tabela_index_agendamento_pagamento > tbody > tr > td {
        padding: 3px;
        font-size: 13px;
    }
    .cor_verde {
        color: lime;
    }
    .cor_vermelho {
        color: red;
    }
    .disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }
    .pagination {
        margin-top: -10%;

    }
    .pag_item {
        width:20px;
        height:20px;
        float:left;
        border:1px solid #000;
        margin-right: 3px;
        text-align: center;
        line-height: 20px;
    }
    .pag_item a {
        color:#000;
        text-decoration: none;
    }
    .pag_ativo {
        background-color:#224074;
    }
    .pag_ativo a {
        color:#FFF;
    }
    
    /*PÁGINA FATURA DE CARTÃO DE CRÉDITO*/
    #div_panel_form_cad_fatura_carta_credito {
        height: 300px;
    }
    #div_panel_form_deb_fatura_carta_credito {
        height: 380px;
    }
    #div_row_form_cad_fatura_cartao_credito {
        margin-top: 8%;    
        margin-left: 29%;
    }
    #div_row_form_deb_fatura_cartao_credito {
        margin-top: 8%;    
        margin-left: 25%;
    }
    #div_row_form_fecha_fatura_cartao_credito {
        margin-top: 8%;    
        margin-left: 8%;
    }
    #panel_body_fatura {

    }
    #btn_nova_fatura, #btn_salvar_nova_fatura, #btn_debitar_fatura, #btn_nova_lanc_fatura, #btn_salvar_novo_lanc_fatura {
        width: 70px;
    }
    #msgCadastroFaturaSucesso {
        padding: 7px;
        text-align: center;
        font-weight: bold;
    }
    #div_msgs_error_cad_fatura {
        margin-left: 47%;
        margin-top: -42px;
        float: left;
    }
    #div_msgs_error_lan_fatura {
        margin-left: 42%;
        margin-top: -42px;
        float: left;
    }
    #msg_erro_fatura {
        margin-left: 10%;
    }
    #msg_erro_lanc_fatura {
        margin-left: 0;
    }
    #msgLancamentoFaturaSucesso {
        padding: 7px;
        text-align: center;
        font-weight: bold;
    }
    #table_lista_itens_fatura > tbody > tr > td {
        font-size: 12px;
        padding: 3px;
    }
    .alinha_td_centro, .alinha_th_centro {
        text-align: center;
    }
    #div_row_table_fecha_fatura {
        width: 96.2%;
    }
    #table_lista_itens_fatura {
        margin-left: 1.9%;
    }
    #msg_alerta_sem_despesa_fatura {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        width: 104%;
    }
    #num_cartao, #nome_banco, #nome_bandeira, #dt_vencimento, #encargos, #iof, #anuidade, #protecao_prem, #valor_pagar, #juros, #restante, #valor_total {
        font-size: 12px;
        height: 27px;
    }
    .muda_label {
        font-size: 12px;
    }
    #table_lista_itens_fatura > tfoot > tr > td {
        padding: 2px;
    }
    #div_botoes_fecha_fatura {
        margin-left: 0;
        float: left;
    }
    #erroIdFatura {
        color: red;
        font-weight: bold;
        font-size: 11px;
        padding: 0;
    }
    #btn_novo_pgto_fatura, #btn_calcular_fatura, #btn_pagar_fatura {
        width: 80px;
    }
    #div_msg_error_pagar_fatura {
        margin-left: 10%;
        float: left;
        margin-top: 0.5%;
    }    
    #msgPagamentoFaturaSucesso {
        padding: 8px;
        text-align: center;
        font-weight: bold;
    }
    #div_panel_fecha_fatura_cartao {
        width: 70%;
        margin-left: 9%;
    }
}	




